.header {
	width: 100%;
	background: deepskyblue;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.links {
		.link {
			color: var(--tg-theme-link-color);
			font-size: 20px;
			margin-left: 5px;
		}
	}

	.close {
		background: var(--tg-theme-button-color);
		color: var(--tg-theme-button-text-color);
		margin: 5px;
		padding: 5px 10px;
		border-radius: 4px;
	}
}
